language: go

go:
  - 1.6
  - 1.7
  - 1.8
  - master

install:
- go get ./...
- go get -t ./...
- go get -u github.com/alecthomas/gometalinter
- gometalinter -u -i -f

script:
- go test -race -coverprofile=coverage.txt -covermode=atomic
- gometalinter --config=./gometalinter.json ./...

after_success:
- bash <(curl -s https://codecov.io/bash)